

:root {
  --primary-color-darkblue: #213341; 
  --secondary-color-lightblue: #009CB3;
}

body {
  padding: .6rem; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-color-darkblue);
}

a {
  text-decoration: none;
  color: #1b1a1a;
}

.header__main {
    display: flex;
    justify-content: space-between;
    text-align: right;
  }

.header__elements {
  display: flex;
  position: relative;
  left: 4rem;
}

.header__elements-logo {
    width: 3rem;
    height: 2.6rem;
    padding: 1.5rem 1.2rem 0 0;
}

.header__elements-name {
  font-size: 1.5rem;
  font-weight: 400;
}

.navigation {
  list-style-type: none;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  padding-right: 4rem;
}

.navigation__item {
  padding-right: 3rem;
}
.navigation__item1 {
  padding-right: 1rem;
  padding-left: 1rem;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(#78e9fa, #78e9fa);
  background-size: 100% 0px;
  background-repeat: no-repeat;
  background-position: 40% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
  cursor: pointer;
  }
  .navigation__item1:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
  }

.navigation__item2 {
    padding-right: 1rem;
    padding-left: 1rem;
    top: 50%;
    left: 50%;
    background-image: linear-gradient(#78e9fa, #78e9fa);
    background-size: 100% 0px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
    cursor: pointer;
    }

  .navigation__item2:hover {
      background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
    }

.navigation__item3 {
      padding-left: 1rem;
      padding-right: 1rem;
      top: 50%;
      left: 50%;
      background-image: linear-gradient(#78e9fa, #78e9fa);
      background-size: 100% 0px;
      background-repeat: no-repeat;
      background-position: 100% 0%;
      transition: background-size .7s, background-position .5s ease-in-out;
      cursor: pointer;
      }
  
      .navigation__item3:hover {
        background-size: 100% 100%;
      background-position: 0% 100%;
      transition: background-position .7s, background-size .5s ease-in-out;
      }
.navigation__item4 {
        padding-right: 1rem;
        padding-left: 1rem;
        top: 50%;
        left: 50%;
        background-image: linear-gradient(#78e9fa, #78e9fa);
        background-size: 100% 0px;
        background-repeat: no-repeat;
        background-position: 100% 0%;
        transition: background-size .7s, background-position .5s ease-in-out;
        cursor: pointer;
        }
    
        .navigation__item4:hover {
          background-size: 100% 100%;
        background-position: 0% 100%;
        transition: background-position .7s, background-size .5s ease-in-out;
        }    
  
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.hero__image {
  width: 50vw;
  height: auto;
}

.hero__text {
  text-align: left;
  padding-left: 3.1rem;
  font-size: 2.5rem;
  padding-bottom: 5rem;
}

.quote__text {
  font-style: italic;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: left;
}

.accent {
  color: var(--secondary-color-lightblue);
}

.hero-quote {
  color: #1b1a1a;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
}

.wrapper__work {
  padding: 4rem;
  padding-bottom: 2rem;
  margin-left: 3rem;
}

.about__work h4 {
  font-size: 1vw;
  font-weight: 500;
}

.about__work h2 {
  color: #009CB3;
  position: relative;
  font-size: 10vw;
  margin-left: 6vw;
  letter-spacing: 0.5rem;
  margin-top: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  margin-top: -1rem;
  background-image: linear-gradient(45deg,#3addf7, #009CB3 20%, #213341 80%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.about__work__quote {
  font-weight: 300;
  font-size: 2vw;
  font-style: italic;
}

.about__work__paragraph {
  font-size: 1.3vw;
  font-weight: 400;
}

.work__image {
  position: relative;
  left: 68rem;
  bottom: 47rem;
  width: 30vw;
  margin-bottom: -47rem;
}

.wrapper__experience {
  padding-left: 6rem;
  margin-bottom: 5rem;
}

.wrapper__experience h4 {
  font-size: 1vw;
  font-weight: 500;
  margin-bottom: 1rem;
}

.wrapper__experience h2 {
  color: #009CB3;
  position: relative;
  font-size: 10vw;
  margin-left: 6vw;
  margin-top: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  margin-top: -1rem;
  background-image: linear-gradient(45deg,#3addf7, #009CB3 20%, #213341);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.experience__text {
  font-size: 1.3vw;
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  padding-left: 1rem;
      top: 50%;
      left: 50%;
      background-image: linear-gradient(#78e9fa, #78e9fa);
      background-size: 100% 0px;
      background-repeat: no-repeat;
      background-position: 100% 0%;
      transition: background-size .7s, background-position .5s ease-in-out;
}
.link:hover {
  background-size: 100% 100%;
background-position: 0% 100%;
transition: background-position .7s, background-size .5s ease-in-out;
}


.wrapper__experience {
  position: relative;
}

.about__experience__quote {
  font-weight: 300;
  font-size: 2vw;
  font-style: italic;
}

.about__experience__paragraph {
  margin-top: 3rem;
}

.experience__list {
  margin-top: 4rem;
  padding-top: 2rem;
  margin-left: 5rem;
  display: flex;
  text-indent: 5rem;
  
}

.experience__info {
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 2rem;
}

.experience__info h4 {
  font-weight: 600;
}

.title {
  color: #009CB3;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
}

.company__name {
  font-size: 2.5vh;
  font-weight: 600;
  margin-bottom: 1rem;
}

.place {
  font-size: 2vh;
  margin-left: 5rem;
  font-weight: 100;
}

.wrapper__clients {
  position: relative;
  padding-left: 6rem;
  padding-bottom: 4rem;
}

.clients__about h2 {
  color: #009CB3;
  position: relative;
  font-size: 10vw;
  margin-left: 6vw;
  letter-spacing: 0.5rem;
  margin-top: -1rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  background-image: linear-gradient(45deg,#3addf7, #009CB3 20%, #213341);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.clients__about h4 {
  font-size: 1vw;
  font-weight: 500;
}

.clients__about h3 {
  font-size: 3vw;
  font-weight: 700;
  line-height: 4rem;
  margin-left: 8rem;
  margin-top: -3rem;
}

.clients__list {
  display: inline;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  opacity: 90%;
}

.wrapper__contact {
  margin-left: 5rem;
  position: relative
}

.contact__about h2 {
  font-size: 10vw;
  margin-left: 7vw;
  letter-spacing: 0.5rem;
  margin-top: -3rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  background-image: linear-gradient(45deg,#3addf7, #009CB3 20%, #213341);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.contact__text {
  font-size: 1.3vw;
  font-weight: 400;
  margin-left: 9rem;  
}

.contact__links {
  font-size: 2vw;
  margin-left: 13rem;
  margin-top: 3rem;
}

.phone__image {
width: 40%;
height: 40%;
margin-left: 63rem;
margin-top: -26rem;
}

.link2 {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  margin-left: 2rem;
  padding-left: 1rem;
      top: 50%;
      left: 50%;
      background-image: linear-gradient(#78e9fa, #78e9fa);
      background-size: 100% 0px;
      background-repeat: no-repeat;
      background-position: 100% 0%;
      transition: background-size .7s, background-position .5s ease-in-out;
}
.link2:hover {
  background-size: 100% 100%;
background-position: 0% 100%;
transition: background-position .7s, background-size .5s ease-in-out;
}

.wrapper__footer {
  position: relative;
  justify-content: center;
  align-items: center;
  background: #213341;
  padding: 1.5rem;
  margin-top: 1rem;
}

.footer__info p {
  font-size: 1.2vw;
  color: #009CB3;
  text-align: center;
  font-weight: 600; 
}

@media only screen and (max-width: 600px) {
  .header__elements-name {
    font-size: 1.5rem;
    font-weight: 400;
  }
  body{
    padding: 0rem;
  }
  .header__main {
    display: block;
  }
  .navigation {
    padding-left: 1.3rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .navigation__item1 {
    padding-right: 0rem;
  }
  .navigation__item2 {
    padding-right: 0;
  }
  .navigation__item3 {
    padding-right: 0rem;
  }
  .navigation__item4 {
    padding-right: 0rem;
  }
  .header__elements {
    left: 1.3rem;
    margin-right: 4rem;
  }
  .hero {
    display: block;
    padding: 0rem;
  }
  .hero__image {
    width: 95%;
    margin-top: 1.5rem;
  margin-left: -1rem;
  }
  .hero__text {
    padding-left: 0rem;
    font-size: 1.2rem;
    padding-bottom: 0;
    margin-left: -1rem;
  }
  .quote__text {
    font-size: 1.5rem;
  }
  .wrapper__work {
    padding: 0rem;
    padding-top: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
  }
  .about__work h4 {
    font-size: 0.8rem;
  }
  .about__work h2 {
    margin-bottom: 2rem;
  }
  .about__work__quote {
    font-size: 1.2rem;
  }
  .about__work__paragraph {
    font-size: 1rem;
    width: 80%;
  }
  .wrapper__experience {
    padding-left: 2rem;
    margin-top: 25rem;
    padding-right: 1.5rem;
  }
  .work__image {
    left: 0rem;
    margin-bottom: -70rem;
    width: 85%;
    display: inline;
  }
  .wrapper__experience h4 {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .about__experience__paragraph {
    margin-top: 1rem;
    font-size: 1rem;
    margin-right: 0.6rem;
  }
  .about__experience h2{
    margin-bottom: 2rem;
  }
  .about__experience__quote {
    font-size: 1.2rem;
  }
  .experience__list {
    margin-left: -5rem;
    margin-top: -1rem;
    display: block;
    text-align: center;
  }
  .wrapper__experience h4 {
    margin-top: 3.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 1.5rem;
    padding: -1.5rem;
    margin-bottom: 1rem;
  }
  .company__name {
    font-size: 1.1rem;
    margin-bottom: 0rem;
  }
  .wrapper__clients {
    padding-left: 0.5rem;
  }
  .clients__about h3 {
    margin-left: 3rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .wrapper__clients h4 {
    font-size: 1rem;
    margin-left: 1.5rem;
  }
  .clients__list {
    margin-left: 1.2rem;
  }
  .clients__image {
    width: 90%;
  }
  .wrapper__contact {
    margin-left: 0.5rem;
  }
  .contact__text p {
    font-size: 1rem;
    margin-left: -7rem;
    width: 95%;
  }
  .contact__links {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 1.6rem;
    margin-bottom: 2.5rem; 
  }
  .link2 {
    margin-left: 0rem;
  }
  .contact__about h2 {
    margin-bottom: 2rem;
  }
  .phone__image {
    margin-left: 12rem;
  }
  .footer__info p {
    font-size: 0.7rem;
  }
  .wrapper__footer {
    width: 86%;
  }
}