/* Declaring some color variables for easier repetititve use and better organization */

:root {
  --primary-color-darkblue: #213341; /* main or primary color*/
  --secondary-color-lightblue: #009CB3; /* secondary color*/
}

/* Applying same font family for the whole website. */
body {
  padding: .6rem; /* here rem has the advantage over em, because they are easier to track and are relative to the browser font size, which is mostly 16px*/
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-color-darkblue); /* here the variable is being reused*/
}

.header__main {
    display: flex;
    justify-content: space-between;
    text-align: right;
  }

.header__elements {
  display: flex;
  position: relative;
  left: 4rem;
}

.header__elements-logo {
    width: 3rem;
    height: 2.6rem;
    padding: 1.5rem 1.2rem 0 0;
}

.header__elements-name {
  font-size: 1.5rem;
  font-weight: 400;
}

.navigation {
  list-style-type: none;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
}

.navigation__item {
padding-right: 3rem;
font-weight: 400;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.hero__image {
  width: 50vw;
  height: auto;

}

.hero__text {
  text-align: left;
  padding-left: 3.1rem;
  font-size: 3rem;
}

.quote__text {
  font-style: italic;
  font-weight: 300;
  font-size: 1.8vw;
}

.accent {
  color: var(--secondary-color-lightblue);
}

/* Making website responsive implementing mobile first display*/
@media only screen and (max-width: 390px) {
  .hero__text,
  h1 {
    font-size: 1rem;
    padding-left: .5rem;
  }
}
.hero-quote {
  color: #1b1a1a;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
}

.wrapper__work {
  padding: 3rem;
}

.about__work h4 {
  font-size: 1vw;
  font-weight: 500;
}

.about__work h2 {
  color: #009CB3;
  position: relative;
  font-size: 10vw;
  margin-left: 6vw;
  letter-spacing: 1rem;
  margin-top: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.about__work__quote {
  font-weight: 300;
  font-size: 2vw;
  font-style: italic;
}

.about__work__paragraph {
  font-size: 1.3vw;
  font-weight: 400;
}

.work__image {
  position: relative;
  left: 73rem;
  bottom: 51rem;
}