

:root {
  --primary-color-darkblue: #213341; 
  --secondary-color-lightblue: #009CB3;
}

body {
  padding: .6rem; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-color-darkblue);
}

.header__main {
    display: flex;
    justify-content: space-between;
    text-align: right;
  }

.header__elements {
  display: flex;
  position: relative;
  left: 4rem;
}

.header__elements-logo {
    width: 3rem;
    height: 2.6rem;
    padding: 1.5rem 1.2rem 0 0;
}

.header__elements-name {
  font-size: 1.5rem;
  font-weight: 400;
}

.navigation {
  list-style-type: none;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  padding-right: 4rem;
}

.navigation__item {
padding-right: 3rem;
}
.navigation__item1 {
  padding-right: 1rem;
  padding-left: 1rem;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(#78e9fa, #78e9fa);
  background-size: 100% 0px;
  background-repeat: no-repeat;
  background-position: 40% 0%;
  transition: background-size .7s, background-position .5s ease-in-out;
  }
  .navigation__item1:hover {
    background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
  }

.navigation__item2 {
    padding-right: 1rem;
    padding-left: 1rem;
    top: 50%;
    left: 50%;
    background-image: linear-gradient(#78e9fa, #78e9fa);
    background-size: 100% 0px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
    }

  .navigation__item2:hover {
      background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
    }

.navigation__item3 {
      padding-left: 1rem;
      padding-right: 1rem;
      top: 50%;
      left: 50%;
      background-image: linear-gradient(#78e9fa, #78e9fa);
      background-size: 100% 0px;
      background-repeat: no-repeat;
      background-position: 100% 0%;
      transition: background-size .7s, background-position .5s ease-in-out;
      }
  
      .navigation__item3:hover {
        background-size: 100% 100%;
      background-position: 0% 100%;
      transition: background-position .7s, background-size .5s ease-in-out;
      }
.navigation__item4 {
        padding-right: 1rem;
        padding-left: 1rem;
        top: 50%;
        left: 50%;
        background-image: linear-gradient(#78e9fa, #78e9fa);
        background-size: 100% 0px;
        background-repeat: no-repeat;
        background-position: 100% 0%;
        transition: background-size .7s, background-position .5s ease-in-out;
        }
    
        .navigation__item4:hover {
          background-size: 100% 100%;
        background-position: 0% 100%;
        transition: background-position .7s, background-size .5s ease-in-out;
        }    
  
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.hero__image {
  width: 50vw;
  height: auto;
}

.hero__text {
  text-align: left;
  padding-left: 3.1rem;
  font-size: 2.5rem;
  padding-bottom: 4rem;
}

.hero__text h2 {
  text-align: left;
  font-size: 2vw;
  font-weight: 300;
}

.quote__text {
  font-style: italic;
  font-weight: 300;
  font-size: 1.8vh;
}

.accent {
  color: var(--secondary-color-lightblue);
}

@media only screen and (max-width: 390px) {
  .hero__text,
  h1 {
    font-size: 1rem;
    padding-left: .5rem;
  }
}
.hero-quote {
  color: #1b1a1a;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
}

.wrapper__work {
  padding: 4rem;
  padding-bottom: 0rem;
}

.about__work h4 {
  font-size: 1vw;
  font-weight: 500;
}

.about__work h2 {
  color: #009CB3;
  position: relative;
  font-size: 10vw;
  margin-left: 6vw;
  letter-spacing: 0.5rem;
  margin-top: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  margin-top: -1rem;
  background-image: linear-gradient(45deg,#3addf7, #009CB3 20%, #213341 80%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.about__work__quote {
  font-weight: 300;
  font-size: 2vw;
  font-style: italic;
}

.about__work__paragraph {
  font-size: 1.3vw;
  font-weight: 400;
}

.work__image {
  position: relative;
  left: 61rem;
  bottom: 45rem;
}

.wrapper__experience {
  padding-left: 4rem;
  padding-bottom: 0rem;
}

.wrapper__experience h4 {
  font-size: 1vw;
  font-weight: 500;
}

.wrapper__experience h2 {
  color: #009CB3;
  position: relative;
  font-size: 10vw;
  margin-left: 6vw;
  margin-top: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  margin-top: -1rem;
  background-image: linear-gradient(45deg,#3addf7, #009CB3 20%, #213341);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.experience__text {
  font-size: 1.3vw;
  font-weight: 400;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
}

.wrapper__experience {
  position: relative;
  bottom: 43rem;
}

.about__experience__quote {
  font-weight: 300;
  font-size: 2vw;
  font-style: italic;
}

.about__experience__paragraph {
  margin-top: 3rem;
}

.experience__list {
  margin-top: 4rem;
  padding-top: 2rem;
  margin-left: 5rem;
  display: flex;
  text-indent: 5rem;
  
}

.experience__info {
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 5rem;
}

.experience__info h4 {
  font-weight: 600;
}

.title {
  color: #009CB3;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
}

.company__name {
  font-size: 2.5vh;
  font-weight: 600;
  margin-bottom: 1rem;
}

.place {
  font-size: 2vh;
  margin-left: 5rem;
  font-weight: 100;
}

.wrapper__clients {
  position: relative;
  bottom: 40rem;
  padding-left: 4rem;
}

.clients__about h2 {
  color: #009CB3;
  position: relative;
  font-size: 10vw;
  margin-left: 6vw;
  letter-spacing: 0.5rem;
  margin-top: -1rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  background-image: linear-gradient(45deg,#3addf7, #009CB3 20%, #213341);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.clients__about h4 {
  font-size: 1vw;
  font-weight: 500;
}

.clients__about h3 {
  font-size: 3vw;
  font-weight: 700;
  line-height: 4rem;
  margin-left: 7rem;
  margin-top: -3rem;
}

.clients__list {
  display: inline;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  opacity: 90%;
}

.contacts__about h2 {
  color: #009CB3;
  position: relative;
  font-size: 10vw;
  margin-left: 6vw;
  letter-spacing: 0.5rem;
  margin-top: -1rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  background-image: linear-gradient(45deg,#3addf7, #009CB3 20%, #213341);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}